.savvii .postbox .main .activity-block label.checkbox { 
    display: block; width: 100%; clear: both;
}

.savvii .postbox .main .activity-block label {
    margin-bottom: 10px;
}

.savvii .postbox .main .activity-block select {
    width: 100%;
}

.savvii .postbox .main .activity-block {
    border: none;
}

.savvii .postbox .button {
    text-align: center; width: 100%;
}

.savvii dt, dd {
    float: left
}

.savvii dt {
    width: 75px; clear:both
}

.postbox {
    margin: 12px; overflow: hidden;
}

.row {
    display: flex;
}

.column {
    margin-right: 8px;
}

.column h3 {
    border-bottom: 1px solid #ccd0d4;
}

.row > .column {
    flex: 1;
}

.row > .column > .code {
    font-family: Courier new,sans-serif;
}

.code p {
    font-size: 12px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.code p:hover {
    background-color: #e1e1e1 !important;
}

.code p:nth-child(odd) {
    background-color: #f1f1f1;
}

span.date {
    font-weight: bold;
}

span.ip_address {
    font-style: italic;
}


@media screen and ( min-width: 800px ) {
    .savvii #dashboard-widgets .postbox-container {
        min-width: 100%;
    }
    .postbox .inside .pct50 {
        width: 50%;
    }
}

@media screen and ( max-width: 800px ) {
    .row {
        display: block;
    }
}
